<!DOCTYPE html>
{% include 'header.html' %}
<body>
<div class="container">

  <!-- Current Location of staff -->
  <h4>Current Location of Staff</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Staff ID</th>
        <th>Mac Address</th>
        <th>Level</th>
        <th>Location</th>
        <th>Time Stamp</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in staffLocDict.items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{value[0]['mac']}}</td>
        <td>{{value[0]['level']}}</td>
        <td>{{value[0]['location']}}</td>
        <td>{{time.ctime(value[0]['timestamp'])}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

    <!-- Number of Staff Per Room -->
  <h4>Number of Staff Per Room</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Number of Staff</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in roomList.items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{value['visit']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <!-- List of rooms unpatrolled -->
  <h4>List of Rooms Unpatrolled</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Last Visit</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in roomList.items() %}
    {% set timecheck = currentTime - value['lastvisit'] %}
      {% if timecheck > 1800 and value['visit'] == 0 %}
      <tr>
        <td>{{key}}</td>
        <td>{{time.ctime(value['lastvisit'])}}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>